<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../public/css/index.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="wrapper">
			<header></header>
			<div class="container">
				<table class="table table-striped">
					<tr>
						<th>Ім'я</th>
						<th>Електронна адреса</th>
						<th>Адреса</th>
						<th>Номер тел.</th>
						<th>Штрафні бали</th>
						<th colspan="2">Дії</th>
					</tr>
					<% readers.forEach(function(reader) { %>
					<tr>
						<td><%= reader.name %></td>
						<td><%= reader.email %></td>
						<td><%= reader.address %></td>
						<td><%= reader.phone_number %></td>
						<td><%= reader.penalty%></td>
						<td>
							<a name="" id="" class="btn btn-primary" href="#" role="button"
								>Оновити</a
							>
						</td>
						<td>
							<a name="" id="" class="btn btn-primary" href="#" role="button"
								>Видалити</a
							>
						</td>
					</tr>
					<% }); %>
				</table>
				<footer></footer>
			</div>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
	</body>
</html>
